.camplive-section {
    background-color: var(--color-alternate);
    color: black;
    text-align: center;
    padding: 60px 0;
    padding-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.camp-details-section {
    background-color: var(--color-three);
    color: white;
    text-align: center;
    padding: 60px 0;
}

.speakers-section {
    background-color: var(--color-alternate);
    color: black;
    text-align: center;
    padding: 60px 0;
}

.wayl-section {
    background-color: var(--color-two);
    color: white;
    text-align: center;
    padding: 60px 0;
    padding-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
}
