:root {
  --color-button: var(--color-five);
}

.btn.call-to-action {
  outline: none !important;
  box-shadow: none;
  font-family: "Raleway";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 25px;
  border-width: 2px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: var(--color-button) !important;
  border-color: var(--color-button) !important;
  background-color: transparent !important;
  font-weight: 700;
}

.btn.call-to-action:focus:hover:active {
  color: white !important;
  border-color: transparent !important;
  background-color: var(--color-button) !important;
  outline: none !important;
  box-shadow: none !important;
}
