.navbar {
/*  background-color: var(--color-two);*/
    text-align: left;
    height: 50px;
}

.navbar ul {
    margin: 0;
    padding-left: 0;
    height: 100%;
}

.navbar ul li {
    display: inline;
    padding: 20px;
    list-style-type: none;
    height: 100%;
}
