.tagline-section {
  display: flex;
  align-items: center;
  min-height: 33vh !important;
  background-color: var(--color-one);
  color: white;
}

.carousel-section {
  padding: 0;
}

.expect-section {
  background-color: var(--color-alternate);
  color: black;
  text-align: center;
  padding: 60px 0;
}

.campfee-section {
  background-color: var(--color-five);
  padding: 60px 0;
  color: white;
}

.speakers-section {
  background-color: var(--color-one);
  color: white;
  text-align: center;
  padding: 60px 0;
}

.faqs-section {
  background-color: var(--color-alternate);
  color: black;
  text-align: center;
  padding: 60px 0;
}

.steps-section {
  background-color: var(--color-background);
  color: black;
  text-align: center;
  padding: 60px 0;
}
